//$font:	;
//
//$color:	#;
//



//Set height and width using one declaration
@mixin size($width, $height: $width) {
      width: $width;
      height: $height;
}

//Set border-radius with prefixes
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

//Set opacity without writing out ie syntax
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin appearance($appearance) {
    -webkit-appearance: $appearance;
    -moz-appearance:    $appearance;
    appearance:         $appearance;
}

@mixin bg-cover {
    -webkit-background-size: cover;
    -moz-background-size:    cover;
    background-size: cover;
}

@mixin box-shadow($box-shadow) {
	-webkit-box-shadow:$box-shadow;
	-moz-box-shadow:$box-shadow;
	box-shadow:	$box-shadow;
}