Options +FollowSymlinks
RewriteEngine on
RewriteBase /

RewriteRule \.(css|jpe?g|gif|png|svg|js|pdf|html|txt|doc|xls|ico|xml|php|docx|ttf|otf|eot|woff|woff2|map)$ - [L]


# redirect to index.php
RewriteRule ^(.*)?$ index.php

